* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    gap: 15px;
    border-radius: 20px;

}

button {
    font-size: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    border: 2px solid white;
}

.buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 10px;
}

#display {
    width: 425px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px ;
}
.buttons > #itemAdd{
    grid-column: 4;
    grid-row: 3/5;
}
#display {
  text-align: right;
  padding-right: 15px;
}